.tools__list {
	padding-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 10rem;
	row-gap: 2rem;
	line-height: 3rem;
	flex-wrap: wrap;
}
.row.text-primary {
	font-weight: 700;
}
.tools__container p {
	font-weight: 500;
}
.tools__container {
	max-width: 50rem;
}

@media screen and (max-width: 950px) {
	.tools__list {
		column-gap: 5rem;
	}
}

@media screen and (max-width: 600px) {
	.tools__list {
		line-height: 2rem;
	}
}
