.tools__list {
	padding-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 2.6rem;
	flex-wrap: wrap;
}
.column {
	margin-bottom: 2rem;
	margin-right: 2rem;
}
.row.text-primary {
	font-weight: 700;
}
.tools__container p {
	font-weight: 500;
}
.tools__container {
	max-width: 50rem;
}

@media screen and (max-width: 600px) {
	.tools__list {
		line-height: 2rem;
	}
}
