.footer {
	text-align: center;
	font-size: 12px;
	padding: 2rem;
	color: var(--color-light);
	bottom: 0;
	position: relative;
	margin-top: 2rem;
}

.footer__socials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
}

.footer__socials a {
	padding: 5px;
	margin: 10px;
	color: var(--color-light);
}
