.project__item {
	margin-bottom: 8rem;
	font-weight: 500;
	overflow-x: hidden;
}

.work__header {
	margin-bottom: 3rem;
}

.scale__up {
	scale: 1.2;
	display: flex;
}

.subsection {
	margin-bottom: 1.5rem;
}

.subsection.header a {
	color: var(--color-white);
}

.subsection.header.valid a:hover {
	color: var(--color-primary);
}

.project__item__top {
	align-items: center;
	justify-items: center;
	justify-content: center;
	display: flex;
	text-align: left;
	height: max-content;
	flex-direction: row;
	column-gap: 2rem;
	align-content: flex-start;
}

.project__item__right {
	flex-direction: column;
}

.project__description {
	display: flex;
}

/* ================= PREVIEW IMAGES ================= */

.project__image {
	cursor: pointer;
}
.project__image img {
	/* z-index: -1; */
	transition: none !important;
}

.landscape__project__image img {
	width: 35rem;
	height: auto;
}

.square__project__image img {
	height: 29rem;
	width: auto;
}

.portrait__project__image img {
	width: 15rem;
	height: auto;
}

.static {
	background-color: var(--color-white);
	-webkit-filter: brightness(5%) sepia(1) saturate(64.5%) hue-rotate(-22deg)
		brightness(503%) contrast(80%);
	filter: brightness(5%) sepia(1) saturate(64.5%) hue-rotate(-22deg)
		brightness(503%) contrast(80%);
}

/* ================= FLEX CONTAINERS & ITEMS ================= */

.flex__container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
}

.flex__container__item {
	display: flex;
}

.stack {
	flex-wrap: wrap;
	column-gap: 1rem;
	text-align: inherit;
	display: flex;
}

.stack__item {
	margin: 0.5rem 0rem;
	text-transform: uppercase;
	width: max-content;
	display: flex;
	padding: 2px 8px;
	border-radius: 0;
	background: var(--color-primary);
	color: var(--color-background);
}

.sub__right {
	text-align: right;
	flex-direction: row-reverse;
	direction: ltr;
}

.sub__right .flex__container {
	text-align: right;
	direction: ltr;
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
}

.flex__container__link {
	column-gap: 8px;
	flex-direction: row;
}

.flex__links {
	flex-wrap: wrap;
	column-gap: 3rem;
	text-align: inherit;
}

/* ================= MEDIA QUERIES ================= */
@media screen and (max-width: 1340px) {
	.flex__container__link p {
		display: none !important;
	}

	.flex__links a {
		font-size: 26px;
	}
}
@media screen and (max-width: 1200px) {
	.flex__container__link p {
		display: none !important;
	}

	.flex__links a {
		font-size: 26px;
	}

	.static {
		background-color: var(--color-white);
		-webkit-filter: brightness(5%) sepia(1) saturate(64.5%) hue-rotate(-22deg)
			brightness(503%) contrast(80%);
		filter: brightness(5%) sepia(1) saturate(64.5%) hue-rotate(-22deg)
			brightness(103%) contrast(80%);
	}
	.project__item__right {
		width: 75vw;
		position: absolute;
		padding: 1.7rem;
	}
	.sub__right {
		text-align: left;
		flex-direction: row;
	}
	.sub__right .flex__container {
		text-align: left;
		justify-content: flex-start;
		align-content: flex-start;
	}

	.project__image img {
		width: 75vw;
		height: 500px;
		object-fit: cover;
		direction: rtl;
		padding: 0;
	}
	.project__item__top {
		column-gap: 0rem;
	}
	.static img {
		padding: 0;
		margin: 0;
	}
}

@media screen and (max-width: 1000px) {
	.project__image img {
		width: 85vw;
	}
	.project__item__right {
		width: var(--container-width-md);
	}
}

@media screen and (max-width: 600px) {
	.project__item {
		margin-bottom: 3rem;
	}
}

@media screen and (max-width: 360px) {
	.project__image img {
		width: 85vw;
		height: 600px;
	}
}

@media screen and (max-width: 290px) {
	.project__image img {
		height: 800px;
	}

	.flex__links a {
		font-size: 20px;
	}
	.flex__links {
		column-gap: 2rem;
	}
}

@media screen and (max-width: 190px) {
	.project__image img {
		height: 1000px;
	}
}
